# Archivos de Gradle
.gradle/
build/

# Configuración local (ruta SDK, etc.)
local.properties

# Archivos generados por Android Studio/IntelliJ
*.iml
.idea/
.captures/
.externalNativeBuild/
.cxx/
.navigation/

# Archivos de build y outputs
*.apk
*.aab
*.dex
*.class
output.json
*.hprof

# Logs y temporales del SO
*.log
.DS_Store
Thumbs.db

# Keystores y credenciales
*.jks
*.keystore

# Google Services (Firebase, APIs)
google-services.json
google-services-debug.json

# NDK
obj/

# Eclipse (por si usas algo legacy)
.classpath
.project
